<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="ru">
  <head>
    <meta charset="utf-8"/>
    <meta name="robots" content="all"/> 
    <meta name="keywords" content="работа и вакансии в Туркменистане, вакансии Ашхабад, работа на Авазе, работа на Балканабад, работа на Хазар, работа на Мары"/>
    <meta property="og:url" content="https://hunarmen.com"/>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-M2VHFNH');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169254983-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-169254983-1');
    </script>
    <!-- End Google Analytics -->
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="yandex-verification" content="a1ffc308e847f77a" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://hunarmen.com/statics/logo1.png" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"/>
    <link rel=icon type=image/ico href=statics/icons/favicon.ico/>
    <link rel=icon type=image/png sizes=16x16 href=statics/icons/favicon-16x16.png/>
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png"/> 
    <link rel="icon" type="image/png" sizes="62x62" href="statics/icons/favicon-62x62.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="statics/icons/favicon-192x192.png"/>

    <meta name="googlebot" content="index,follow"/>
    <meta name="google-site-verification" content="UA-169254983-1"/>
    <meta name="yandex" content="index,follow"/>
    <meta name="yandex-verification" content="a1ffc308e847f77a"/>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Hunarmen",
      "name" : "Hunarmen",
      "url" : "https://hunarmen.com",
      "sameAs" : [
        "https://vk.com/hunarmen",
        "https://www.instagram.com/hunarmenn/",
        "https://t.me/hunarmenn"
      ]
    }
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2VHFNH" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(64814416, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/64814416" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
