<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="ru">
  <head>
    <meta charset="utf-8"/>
    <meta name="robots" content="all"/> 
    <meta name="keywords" content="работа и вакансии в Туркменистане, вакансии Ашхабад, работа на Авазе, работа на Балканабад, работа на Хазар, работа на Мары"/>
    <meta property="og:url" content="https://hunarmen.com"/>
    <!-- Google Tag Manager -->
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://hunarmen.com/statics/logo1.png" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"/>
    <link rel=icon type=image/ico href=statics/icons/favicon.ico/>
    <link rel=icon type=image/png sizes=16x16 href=statics/icons/favicon-16x16.png/>
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png"/> 
    <link rel="icon" type="image/png" sizes="62x62" href="statics/icons/favicon-62x62.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="statics/icons/favicon-192x192.png"/>


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet"/>
  </head>
  <body>
    
    <div id="q-app"></div>
  </body>
</html>
